
@{
    ViewBag.Title = "LogOut";
}

<h2>Are you sure you want to log-out?</h2>

@using (Html.BeginForm())
{
    <p>Druk op de button hieronder om uit te loggen</p>
    <input type="submit" value="Log-out" />
}

